astroid==2.15.5
Authlib==1.2.0
blinker==1.6.2
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
cryptography==41.0.1
dill==0.3.6
Flask==2.3.2
Flask-SQLAlchemy==3.0.3
greenlet==2.0.2
gunicorn==20.1.0
idna==3.4
importlib-metadata==6.6.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
lazy-object-proxy==1.9.0
MarkupSafe==2.1.3
mccabe==0.7.0
platformdirs==3.5.1
psycopg2-binary==2.9.9
pycparser==2.21
pylint==2.17.4
python-dotenv==1.0.0
requests==2.31.0
six==1.16.0
SQLAlchemy==2.0.15
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
typing_extensions==4.6.3
urllib3==2.0.2
Werkzeug==2.3.4
wrapt==1.15.0
zipp==3.15.0
