{% extends 'base.html' %} {% block body %}

<div class="container my-4">
  <form action="/shorten/url" method="POST" class="my-4 form-inline">
    <label for="full-url" class="sr-only">Full Url</label>
    <input
      required
      placeholder="Full Url"
      type="url"
      name="full-url"
      id="full-url"
      class="form-control col mr-2"
    />
    <button class="btn btn-success" type="submit">Shorten</button>
  </form>

  <div class="table-responsive my-4">
    <h2>Shortened URLs</h2>

    <table class="table table-striped my-4">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Full URL</th>
          <th>Short URL</th>
          <th>Visited</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% if url_list %} {% for url in url_list %}
        <tr>
          <td>{{loop.index}}</td>
          <td>
            <a href="{{url.full}}" target="_blank"> {{url.full}} </a>
          </td>
          <td>
            <a href="/{{url.id}}" target="_blank"> {{url.id}} </a>
          </td>
          <td>{{url.clicks}}</td>
          <td>
            <a class="btn btn-danger" href="/delete/{{url.id}}"> Delete </a>
          </td>
        </tr>
        {% endfor %} {% endif %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
